/* 2개의 keyframe 지정 */
/* 확대되기 전과 후 2개로 나눔 */
/* 확대는 scale(x,y)를 이용하였다. */
/* 그리고 확대되었을 때 왼쪽 0% 너머로 가는 것을 막기 위해 마진을 주었다. */
@keyframes zoom {
    0% {transform : none; }
    100% { transform : scale(4,1);
            margin-left : 700px }
}

img {
    margin-top : 100px;
}

/* 마우스 갖다 댔을 때 애니메이션이 작동하도록 했음. */
/* animation-fill-mode를 이용해서 마지막 상태를 유지하도록 함. */
img:hover { 
    animation : zoom;
    animation-duration : 2s;
    animation-fill-mode : forwards;
    }